* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: gray;
    color: #212121;
    font-size: 20px;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 100px;
}

.introduction p {
    font-size: 1.5rem;
    color: #8400ff;
    font-weight: 700;
}

.info {
    text-align: center;
    list-style: none;
    line-height: 2;
}

#start {
    background-color: #8400ff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 110px;
}

.timer {
    background-color: white;
    padding: 20px 30px;
    border-radius: 25%;
}

.questions h2 {
    width: 60%;
    text-align: center;
}

.button {
    border: none;
    padding: 20px 40px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 20px;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.results {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    line-height: 2;
}

.results li {
    list-style-type: none;
}
